
{% extends "bootstrap/base.html" %}

{% block title %} TODO Application {% endblock %}
{% block content %}  


<span class="border border-primary">

<h1 class="lead text-center"> My Todo List </h1>
<div id="myList" >
    <table class="table table-striped table-bordered">
        <thead class="thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        {% for value in myList %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ value }}</td>
            <td>
                <form method="POST">
                    <input  id="delNumber" name="delNumber" type="hidden" value="{{ loop.index }}">
                    <input type="submit" class="btn btn-warning btn-lg" name="DelButton" value="X">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</div>

<form method="POST">
    <div class="form-group container-fluid">
        {{ addForm.hidden_tag() }}
        {{ addForm.entry.label }} {{ addForm.entry(class="form-control") }}
        {{ addForm.submit() }}
    </div>
</form>
<!--
<form method="POST">
    <div class="form-group">
        {{ delForm.hidden_tag() }}
        {{ delForm.deleteEntry.label }} {{ delForm.deleteEntry(class="form-control") }}
        {{ delForm.submit() }}
    </div>
</form>
-->

</span>
{% endblock %}