<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
    </head>
    <body>

        <h1> My Todo List </h1>
        <div id="myList">
            <table>
                <tr>
                    <th>Thing to do</th>
                </tr>
                {% for value in myList %}
                    <tr>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <form method="POST">
            {{ addForm.hidden_tag() }}
            {{ addForm.entry.label }} {{ addForm.entry(id="ADD") }}
            {{ addForm.submit() }}
        </form>

        <form method="POST">
            {{ delForm.hidden_tag() }}
            {{ delForm.deleteEntry.label }} {{ delForm.deleteEntry(id="DEL") }}
            {{ delForm.submit() }}
        </form>



    </body>
</html>